<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  修改了一条记录
</body>
<script>
var myObject = { };
Object.defineProperty(
myObject,
"a",
// 让 a 像普通属性一样可以枚举
{ enumerable: true, value: 2 }
);
Object.defineProperty(
myObject,
"b",
// 让 b 不可枚举
{ enumerable: false, value: 3 }
);
myObject.propertyIsEnumerable( "a" ); // true
console.log(myObject.propertyIsEnumerable( "a" ));
console.log(myObject.propertyIsEnumerable( "b" ));
myObject.propertyIsEnumerable( "b" ); // false
Object.keys( myObject ); // ["a"]
console.log(Object.keys( myObject ));
Object.getOwnPropertyNames( myObject ); // ["a", "b"]

</script>
</html>
